{% extends 'base.html' %}
{% load question_tag %}
{% block content %}
    <h1>Preguntas</h1>
    <div class="d-flex flex-column">
        {% for question in object_list %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <i class="far fa-question-circle" title="{{ question.description }}"></i>
                        <span class="fw-bold">{{ question.title }}</span>
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                        <u class="fw-lighter mb-1">Respuesta</u>
                        <div>
                            {% question_user_answer question as question_answer_value %}
                            {% for val in '12345' %}
                                <a class="mx-1 answer {% if question_answer_value|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                   data-question="{{ question.pk }}"
                                   data-value="{{ val }}" href="#" onclick="sendAnswer(this)"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column ">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div>
                            {% question_user_like question as question_like_value %}
                            <a class="mx-1 like {% if question_like_value == 5 %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="5" onclick="sendLikeDislike(this)"></a>
                            <a class="mx-1 like {% if question_like_value == -3 %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="-3" onclick="sendLikeDislike(this)"></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                           {{ question.points }} pts.
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        const sendAnswer = async (question) => {
            let id = question.getAttribute('data-question');
            let value = question.getAttribute('data-value');
            let data = {'question_pk': id, 'value': value};

            let response = await fetch('question/answer', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
              body: JSON.stringify(data),
            });

            response.status == 200 ? location.reload() : console.error('Error')
        };

        const sendLikeDislike = async (question) => {
            let id = question.getAttribute('data-question');
            let value = question.getAttribute('data-value');
            let data = {'question_pk': id, 'value': value};

            let response = await fetch('question/like', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
              body: JSON.stringify(data),
            });

            response.status == 200 ? location.reload() : console.error('Error')
        };

    </script>

{% endblock %}